{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4">Последние новости</h1>
{% for news in news_items %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ news.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Автор: {{ news.author }} | {{ news.pub_date|date:"d.m.Y H:i" }}</h6>
            <p class="card-text">{{ news.content }}</p>
        </div>
    </div>
{% empty %}
    <p>Нет новостей.</p>
{% endfor %}
{% endblock %}
